@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <base href="/" />
</head>
    <div class="row">
        <div class="col-md-10" *ngIf='userReservations && userReservations.length'>
            <div class="" *ngFor='let reservation of userReservations'>
                <div class="well well-lg form-group form-group-lg">
                    <a style="font-size:25px">R:{{reservation.ConfirmationNumber }}</a>
                    <a asp-controller="Home" asp-action="" class="col-sm-offset-5"></a>
                    <a class="btn btn-sm btn-default"> Details</a>&nbsp;&nbsp;
                    <a class="btn btn-sm btn-primary">Update</a>&nbsp;&nbsp;
                    <a style="color:red" class="btn btn-sm btn-dafault">Cancel</a>&nbsp;&nbsp;
                </div>
                <table class="table table-responsive table-striped reservation-angular">
                    <tr class="reservation-summary-table-header">
                        <th><h5><b><i>PRICE DETAILS</i></b></h5></th>
                        <th></th>
                        <td>Vehicle Price (For @string.Concat("2", " days")):&nbsp;</td>
                        <td class=""><p><b>@string.Concat("$", 44.0)</b></p></td>
                        <td>Total Cost:&nbsp;</td>
                        <td class="numeric"><b>${{reservation.TotalCost}}</b></td>
                    </tr>

                    <tr class="reservation-summary-table-header">
                        <th><h5><b><i>LOGISTICS</i></b></h5></th>
                        <th></th>

                        <td>PickUp / Return Location:&nbsp;</td>
                        <td class=""><p><b>{{reservation.PickupLocation}}</b></p></td>

                        <td>Pickup Date:&nbsp;</td>
                        <td class=""><p><b>{{reservation.PickupDate | date:'MM-dd-yyyy' }}</b></p></td>
                        <td>Return Date:&nbsp;</td>
                        <td class=""><b>{{reservation.ReturnDate | date:'MM-dd-yyyy' }}</b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
