@using CarRentalApplication.Models.ViewModels
@model CarRentalApplication.Models.ViewModels.Auth.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";

    Model.FormProcessing = new FormSubmissionViewModel { FormAction = "Login", FormController = "Auth" };    
}

<div class="row">
    <br />
    @await Component.InvokeAsync("Login", new { lvm = Model})
</div>