@using ViewModels = CarRentalApplication.Models.ViewModels
@model ViewModels.Reservation.ReservationLogisticsViewModel
@{
    ViewData["Title"] = "Home Page";
    Model.FormProcessing = new ViewModels.FormSubmissionViewModel { FormAction = "Index", FormController = "Reservation" };
}


<div class="row" id="reservationFormDiv">
    <h3 class="pageHeading">START YOUR RESERVATION</h3>
        @await Component.InvokeAsync("ReservationLogistics", new { rlvm = Model })    
</div>