@model CarRentalApplication.Models.ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-9 col-md-offset-1">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="alert alert-warning">Reservation @Model.ConfirmationNumber Has been Cancelled</div>
                <h6 class="reservation-confirmation-text">. An email has been sent to @Model.ContactSetup.Email</h6>
            </div>
            <div class="panel-footer">
                <a asp-action="Index" asp-controller="Home"> <u><i>Start a new Reservation</i></u></a>|
                <a asp-action="Index" asp-controller="Home"> <u><i>Back To Home</i></u></a>
            </div>
        </div>
    </div>
    @*@await Component.InvokeAsync("ReservationReview", new { rvm = Model })*@

</div>