@using ViewModel = CarRentalApplication.Models.ViewModels
@model ViewModel.Reservation.ReservationContactViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Model.FormProcessing = new ViewModel.FormSubmissionViewModel { FormAction = "ContactSetup", FormController = "Reservation" };
}

<div class="row">
    <h3 class="pageHeading">Welcome To The Contact Setup</h3>

    @await Component.InvokeAsync("ReservationContact", new { rcvm = Model })
</div>
