@model CarRentalApplication.Models.ViewModels.Reservation.ReservationContactViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    Welcome To The Contact Setup
</div>
