@using ViewModels = CarRentalApplication.Models.ViewModels;
@model ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Model.FormProcessing = new ViewModels.FormSubmissionViewModel { FormAction = "Review", FormController = "Reservation" };
}

<div class="row">
    <h3 class="pageHeading col-md-offset-1">Review Your Reservation</h3>

    @*@await Component.InvokeAsync("ReservationReview", new { rvm = Model})*@
    @await Component.InvokeAsync("ReservationUpdate", new { rvm = Model })

    <div class="col-lg-3 pull-right">
        <a asp-controller="Reservation" asp-action="Confirmation" class="btn btn-primary">SUBMIT RESERVATION</a>
    </div>
</div>
