@using CarRentalApplication.Models.ViewModels
@model CarRentalApplication.Models.ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var reservationCancellationFormSubmission = new FormSubmissionViewModel
    {
        FormController = "Reservation",
        FormAction = "CancelReservation"
    };
    Model.FormProcessing = new FormSubmissionViewModel { FormAction = "UpdateConfirmation", FormController = "Reservation" };
}

<div class="row">
    <h3 class="pageHeading">Update Reservation @Model.ConfirmationNumber</h3>
    @await Component.InvokeAsync("YesNoModal", new { fsvm = reservationCancellationFormSubmission });
    @await Component.InvokeAsync("ReservationUpdate", new { rvm = Model })
</div>
