@using ViewModel = CarRentalApplication.Models.ViewModels
@model ViewModel.Reservation.ReservationVehicleViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Model.FormProcessing = new ViewModel.FormSubmissionViewModel { FormAction = "VehicleUpdate", FormController = "Reservation" };
}
<div class="row">
    <h3 class="pageHeading">Select a Vehicle</h3>

    @await Component.InvokeAsync("ReservationVehicle", new { rvvm = Model })
</div>
