@model CarRentalApplication.Models.ViewModels.Reservation.ReservationViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var a = Model;
}

<div class="col-md-10 col-md-offset-1">
    <div class="form-group">
        <div class="col-md-7">
           @Model.VehicleSetup.Vehicle.Name
            @Model.VehicleSetup.Vehicle.MakeYear
        </div>
        <div class="col-md-5 thumbnail reservation-summary-rental-vehicle">
            <span><b>@Model.VehicleSetup.Vehicle.Name</b></span>
            <img src="~/images/@(Model.VehicleSetup.Vehicle.ImageName)" id="rentalVehicle" />
        </div>
    </div>
</div>