@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
<!-- 1. Load libraries -->
<script src="~/lib/core-js/core.js"></script>
<script src="~/lib/zone.js/zone.js"></script>
<script src="~/lib/reflect-metadata/reflect.js"></script>
<script src="~/lib/systemjs/system.src.js"></script>
<!-- 2. Configure SystemJS -->
<script src="~/systemjs.config.js"></script>
<script>
          System.import('app').catch(function(err){ console.error(err); });
</script>
}

<div class="row">
        <div class="col-xs-4">            
            <a asp-controller="Home" asp-action="Index" ><span class="glyphicon glyphicon-plus" style="font-size:2.5em;"></span>&nbsp; Add A New Reservation</a>
        </div>
    <br /><br /><br />
    <!--Angular App-->
    <div class="col-md-12 col-sm-5">
        <ng-application>
            <h3 style="color:coral"><b>Loading Reservations...</b></h3>
        </ng-application>
    </div>
</div>
