@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
<!-- 1. Load libraries -->
<script src="~/lib/core-js/core.js"></script>
<script src="~/lib/zone.js/zone.js"></script>
<script src="~/lib/reflect-metadata/reflect.js"></script>
<script src="~/lib/systemjs/system.src.js"></script>
<!-- 2. Configure SystemJS -->
<script src="~/systemjs.config.js"></script>
<script>
          System.import('app').catch(function(err){ console.error(err); });
</script>
}

<div class="row">
    Welcome to your Dashboard
    <br />
    <!--Angular App-->
    <my-app>Loading Dashboard...</my-app>
</div>
