@model CarRentalApplication.Models.ViewModels.Dashboard.ReservationsListViewModel
@using ViewModels = CarRentalApplication.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Model.FormProcessing = new ViewModels.FormSubmissionViewModel { FormAction = "Index", FormController = "Dashboard" };
}
@section Scripts {
    <!-- 1. Load libraries -->
    @*<script src="~/lib/core-js/core.js"></script>
        <script src="~/lib/zone.js/zone.js"></script>
        <script src="~/lib/reflect-metadata/reflect.js"></script>
        <script src="~/lib/systemjs/system.src.js"></script>*@
    <!-- 2. Configure SystemJS -->
    @*<script src="~/systemjs.config.js"></script>
        <script>
                  System.import('app').catch(function(err){ console.error(err); });
        </script>*@
}

<div class="row">
    <h3 class="pageHeading">Dashboard</h3>
    <div class="col-md-offset-4 col-md-3 dashboard-segment dashboard-tool-segment text-center">
        <a asp-controller="Home" class="dashboard-tool" asp-action="Index" data-toggle="tooltip" title="Create New Reservation"><span class="glyphicon glyphicon-plus" style="font-size:2.5em;"></span></a>&nbsp;
        <a><span class="glyphicon glyphicon-cog" style="font-size:2.5em;"></span></a>
    </div>
    <!--Angular App-->
    <div class="col-lg-8 col-md-7 dashboard-segment dashboard-reservation-segment">
        @*<ng-application>
                <h3 style="color:coral"><b>Loading Reservations...</b></h3>
            </ng-application>*@

        <h4>Reservations</h4>
        <hr />
        @if (Model.UserReservations.Count() == 0)
        {
            <p>Welcome! You have no reservations.<a asp-action="Index" asp-controller="Home"> <u><i>Start a new Reservation</i></u></a></p>
        }
        @foreach (var rvm in Model.UserReservations)
        {
            <div class="well form-group">
                <form asp-controller=@(Model.FormProcessing.FormController) asp-action=@(Model.FormProcessing.FormAction) method="post" role="form">
                    <div asp-valIdation-summary="All" class="text-danger"></div>
                    <div class="">
                        <a style="font-size:25px;margin-right:40px;">@rvm.ConfirmationNumber</a>
                        <input type="button" class="btn btn-sm btn-default dashboard-reservation-details" id=@rvm.ConfirmationNumber value="Show Details" />
                        <input type="submit" class="btn btn-sm btn-primary" id="updatereservationbtn" value="Update" />
                    </div>
                    <input type="hIdden" asp-for="ReservationId" value=@(rvm.ConfirmationNumber) />
                </form>
            </div>
            <div class="dashboard-reservations-list" id=@rvm.ConfirmationNumber style="display:none;">
                @await Component.InvokeAsync("ReservationReview", new { rvm = rvm })
            </div>
        }

    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-11 col-xs-11 dashboard-segment dashboard-sidebar" style="">
        <h5>Personal</h5><hr />
        <p><a>Account Settings</a></p>
        <p><a>Profile</a></p>
        <br />
        <h5>General</h5><hr />
        <p><a>Save On Car Reservations</a></p>
        <p><a>Federal and State Tax Information</a></p>
        <p><a>Terms and Conditions</a></p>
        <p><a>FAQs</a></p>
    </div>
</div>
