@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="row">
    <h4>Reservations</h4>
    <hr />
    <div class="col-md-10" *ngIf='userReservations && userReservations.length'>
        <div class="" *ngFor='let reservation of userReservations'>
            <div class="well form-group form-group-lg">
                <a style="font-size:25px">R:{{reservation.confirmationNumber }}</a>
                <a asp-controller="Home" asp-action="" class="col-sm-offset-5"></a>
                <a class="btn btn-sm btn-default" (click)='toggleDetails()'>{{ showDetails ? 'Hide':'Show'}} Details</a>&nbsp;&nbsp;
                <a class="btn btn-sm btn-primary" (click)="toggleUpdate()">Update</a>&nbsp;&nbsp;
                <a style="color:red" class="btn btn-sm btn-dafault">Cancel</a>&nbsp;&nbsp;
            </div>
            <table class="table table-responsive" id="review-form" *ngIf='showDetails'>
                <thead>
                    <tr class="review-header">
                        <td colspan="2"><img src="/images/{{reservation.vehicle.imageName}}" id="rentalVehicle" height="120" width="200" style="display:block; margin:0 auto;" /></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="review-segment-header">
                        <th colspan="2"><u>VEHICLE</u></th>
                    </tr>
                    <tr class="review-segment-content">
                        <td>NAME</td>
                        <td>{{reservation.vehicle.name}}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>MAKE YEAR</td>
                        <td>{{reservation.vehicle.makeYear}}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>PASSENGER CAPACITY</td>
                        <td>{{reservation.vehicle.passengerCapacity}}</td>
                    </tr>
                    <tr class="review-segment-header">
                        <th colspan="2">LOGISTICS</th>
                    </tr>
                    <tr class="review-segment-content">
                        <td>PICKUP LOCATION AND DATE</td>
                        <td>{{reservation.pickupLocation}} ON {{reservation.pickupDate | date:'MM-dd-yyyy' }}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>RETURN LOCATION AND DATE</td>
                        <td>{{ reservation.returnLocation }} ON {{reservation.returnDate | date:'MM-dd-yyyy' }}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>FEDERAL TAX</td>
                        <td>${{ reservation.federalTax }}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>STATE TAX</td>
                        <td>${{ reservation.stateTax }}</td>
                    </tr>
                    <tr class="review-segment-content">
                        <td>TOTAL COST</td>
                        <td>${{ reservation.totalCost }}</td>
                    </tr>
                </tbody>
            </table>            
                <table class="table table-responsive" id="review-form" *ngIf='showUpdateForm'>
                    <thead>
                        <tr class="review-header">
                            <td colspan="2"><img src="~/images/{{reservation.vehicle.imageName}}" id="rentalVehicle" height="120" width="200" style="display:block; margin:0 auto;" /></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="review-segment-header">
                            <th><u>VEHICLE</u></th>
                            <th><a asp-controller="Reservation" asp-action="VehicleUpdate"><span class="glyphicon glyphicon-edit reservation-edit"></span></a></th>
                        </tr>
                        <tr class="review-segment-content vehicle-segment">
                            <td>NAME</td>
                            <td>{{reservation.vehicle.name}}</td>
                        </tr>
                        <tr class="review-segment-content vehicle-segment">
                            <td>MAKE YEAR</td>
                            <td>{{reservation.vehicle.makeYear}}</td>
                        </tr>
                        <tr class="review-segment-content vehicle-segment">
                            <td>PASSENGER CAPACITY</td>
                            <td>{{reservation.vehicle.passengerCapacity}}</td>
                        </tr>
                        <tr class="review-segment-header">
                            <th>LOGISTICS</th>
                            <th><a asp-controller="Reservation" asp-action="LogisticsUpdate"><span class="glyphicon glyphicon-edit reservation-edit"></span></a></th>
                        </tr>
                        <tr class="review-segment-content logistics-segment">
                            <td>PICKUP LOCATION AND DATE</td>
                            <td>{{reservation.pickupLocation}} ON {{reservation.pickupDate | date:'MM-dd-yyyy' }}</td>
                        </tr>
                        <tr class="review-segment-content logistics-segment">
                            <td>RETURN LOCATION AND DATE</td>
                            <td>{{ reservation.returnLocation }} ON {{reservation.returnDate | date:'MM-dd-yyyy' }}</td>
                        </tr>
                        <tr class="review-segment-header">
                            <th>CONTACT</th>
                            <th><a asp-controller="Reservation" asp-action="ContactUpdate"><span class="glyphicon glyphicon-edit reservation-edit"></span></a></th>
                        </tr>
                        <tr class="review-segment-header">
                            <th colspan="2">TOTAL COST</th>
                        </tr>
                        <tr class="review-segment-content">
                            <td>FEDERAL TAX</td>
                            <td>${{ reservation.federalTax }}</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>STATE TAX</td>
                            <td>${{ reservation.stateTax }}</td>
                        </tr>
                        <tr class="review-segment-content">
                            <td>TOTAL COST</td>
                            <td>${{ reservation.totalCost }}</td>
                        </tr>
                    </tbody>
                </table>            
        </div>
    </div>
</div>
<script>
    @*@if (Model.VehicleSetup.IsDirty)
    {
        <text>
    var x = document.getElementsByClassName('vehicle-segment');
    for (i = 0; i < x.length; i++) {
        x[i].className += ' updated-reservation-segment';
    }
    </text>
    }
    @if (Model.LogisticsSetup.IsDirty)
    {
        <text>
            var x = document.getElementsByClassName('logistics-segment');
            for (i = 0; i < x.length; i++) {
                x[i].className += ' updated-reservation-segment';
            }
        </text>
    }
    @if (Model.ContactSetup.IsDirty)
    {
        <text>
            var x = document.getElementsByClassName('contact-segment');
        for (i = 0; i < x.length; i++) {
            x[i].className += ' updated-reservation-segment';
        }
        </text>
    }*@
</script>
