fieldset {
    background-color: #fcfdff;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pageHeading {
    color: brown;
}

.numeric {
    font-size: 18px;
    color: #0e6808;
}

.reservation-angular {
    border-radius: 4px;
}

.customThumbnail {
    margin-bottom: 30px;
    border:3px solid white;
}

#selectedVehicle {
    border: 3px solid green;
}

.customThumbnail .back {
    background-color: #2c3e50;
}

.vehicleDetailsTable {
    font-size: 17px;
    color: #18bc9c;
    text-align: center;
    border: none;
}

.table-header {
    color: white;
    text-align: center;
}

.table-header-line {
    height: 2px;
    background-color: white;
}

.disabledAccountReg {
    opacity: 0.3;
}
.review-header{
    background-color:#edeeef;

}
review-form{
    border: 1px solid #2c3e50;
}
.review-segment-header{
    border-bottom: 4px solid darkslategrey;
}
.review-segment-content{
    font-size: 17px;
    color:darkgoldenrod;
    border-bottom:1px solid #f9f9f9;
}
.review-segment-title{
    color:darkslategrey;
}
.reservation-cancel-btn{
    background-color:white;
    color:red;
}
.reservation-update-btn{
    background-color:white;
    color:green;
}
.reservation-edit{
    color:#8e2d2d;
}
.updated-reservation-segment{
    color: #acc6ef;
}
.reservation-confirmation-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color:darkblue;
}
.wrapper{
    min-height: calc(100vh - 120px);
}
.dashboard-segment{    
    padding:13px;        
    box-shadow: 0 0 7px 1.8px #999;
    margin-bottom: 50px;
}

.panel{
    border:1px solid #cecece;
}

.dashboard-sidebar{
    background-color:#f7f7f7;
    border-radius: 8px;
}
.dashboard-sidebar a{
    text-decoration:underline;
    font-size:12px;
}
.dashboard-tool-segment {
    background-color:white;
}
.dashboard-tool-segment a:hover .glyphicon{
    -webkit-transform:scale(1.50); /* Safari and Chrome */
    -moz-transform:scale(1.50); /* Firefox */
    -ms-transform:scale(1.50); /* IE 9 */
    -o-transform:scale(1.50); /* Opera */
     transform:scale(1.50);
}
.tooltip-inner {
    background-color: black;
}
/**#18bc9c*/





#reservationContactForm {
    background-color: #eee !important;
}

.contactInfoTextfield {
    background-color: white;
}


hr {
    height: 1px;
    background-color: darkcyan;
}

.reservationSummary {
    background-color: #eee;
}

.reservation-summary-table-header {
    border-bottom: 1px solid darkcyan;
    border-top: 1px solid darkcyan;
}

table {
    width: 100%;
    font-family:'Open Sans', sans-serif;
}

#rentalVehicle {
    background-color: #eee;
}

.reservation-summary-rental-vehicle {
    background-color: #eee;
    border: none;
}

fieldset {
    border: 1px solid darkcyan;
    padding: 20px;
}


#reservationFormDiv {
    background-color: white;
}
