fieldset {
    background-color: #fcfdff;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pageHeading {
    color: brown;
}

.numeric {
    font-size: 18px;
    color: #0e6808;
}

.reservation-angular {
    border-radius: 3px;
}

.customThumbnail {
    margin-bottom: 30px;
}

#selectedthumbnail {
    border: 3px solid green;
}

.customThumbnail .back {
    background-color: #2c3e50;
}

.vehicleDetailsTable {
    font-size: 17px;
    color: #18bc9c;
    text-align: center;
    border: none;
}

.table-header {
    color: white;
    text-align: center;
}

.table-header-line {
    height: 2px;
    background-color: white;
}

.disabledAccountReg {
    opacity: 0.3;
}
.review-header{
    background-color:#edeeef;

}
#review-form{
    border: 1px solid #2c3e50;
}
.review-segment-header{
    font-size: 21px;
    border-top: 1px solid #2c3e50;
}
.review-segment-content{
    font-size: 17px;
}






.selectedVehicle {
    border: 2px solid green;
}

#reservationContactForm {
    background-color: #eee !important;
}

.contactInfoTextfield {
    background-color: white;
}


hr {
    height: 1px;
    background-color: darkcyan;
}

.reservationSummary {
    background-color: #eee;
}

.reservation-summary-table-header {
    border-bottom: 1px solid darkcyan;
    border-top: 1px solid darkcyan;
}

table {
    width: 100%;
}

#rentalVehicle {
    background-color: #eee;
}

.reservation-summary-rental-vehicle {
    background-color: #eee;
    border: none;
}

fieldset {
    border: 1px solid darkcyan;
    padding: 20px;
}


#reservationFormDiv {
    background-color: white;
}
